
<footer>
  <a class="social-icon" href="https://open.spotify.com/artist/3yzAxFpFuqy4YsOdMgnmpD"><i class="fab fa-spotify fa-2x"></i></a>
  <a href="https://therestoftheguys.bandcamp.com/"><i class="fab fa-bandcamp social-icon fa-2x"></i></a>
  <a href="https://soundcloud.com/therestoftheguys"><i class="fab fa-soundcloud social-icon fa-2x"></i></a>
  <a href="https://music.apple.com/us/artist/the-rest-of-the-guys/1539540077"><i class="fab fa-itunes social-icon fa-2x"></i></a>
  <a href="https://www.instagram.com/therestoftheguys/?hl=en"><i class="fab fa-instagram social-icon fa-2x"></i></a>
  <a href="https://www.facebook.com/TheRestofTheGuys/"><i class="fab fa-facebook social-icon fa-2x"></i></a>
  <a href="https://www.youtube.com/user/therestoftheguys"><i class="fab fa-youtube social-icon fa-2x"></i></a>
  <p>© The Rest of The Guys 2021</p>
</footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>
