body {
  background-color: black;
}





/* -----Navbar---------------------------- */
.logo {
  height: 140px;
  margin-left: 20px;
}


/* Modify the backgorund color */
.navbar-custom {
    background-color: black;
}

/* Modify text color */
.navbar-custom .navbar-text {
    color: white;
}

/* Modify text color */
.navbar-custom .navbar-toggler {
    color: white;
}

.nav-link{
  margin: 10px 20px;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: blue;
}




.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: rgb(255,102,203);
}

/* -----Carousel-------------------------- */

.carousel {
  width:50%;
  margin: auto;
  background-color: black;
}

.container-fluid {
  background-color: black;
}





/* -----Footer---------------------------- */

footer {
  text-align: center;
  background-color: black;
}

footer p {
  margin-bottom: 0;
  padding-bottom: 25px;
  color: white;
}

.social-icon {
  margin: 30px 10px;
  color: white;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.social-icon:hover {
  color: blue;
  transition: 0.3s;
}
