body {
  background-color: black;
}

/* -----Navbar---------------------------- */
.logo {
  height: 140px;
  margin-left: 20px;
}




/* -----Carousel-------------------------- */

.cake-container {
  margin-bottom: 90px;
}

.carousel-item {
  height: 30%;
}

.carousel .carousel-item {
  height: 475px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 475px;

}



/* Footer */

footer {
  text-align: center;
}

.social-icon {
  margin: 30px 10px;
}
